:root {
  --font-family: 'Oswald', sans-serif;
  --color1: #fbf8f8;
  --color2: #0b3404;
  --color2_1: #0b3404ef;
  --color2_5: rgba(11, 52, 4, 0.5);
  --color2_8: rgba(11, 52, 4, 0.8);
  --color2_9: rgba(11, 52, 4, 0.9);
  --color3: #dadb9e;
  --color3_1: rgba(218, 219, 158, 0.1);
  --color3_2: rgba(218, 219, 158, 0.2);
  --color3_3: rgba(218, 219, 158, 0.3);
  --color3_4: rgba(218, 219, 158, 0.4);
  --color3_9: rgba(218, 219, 158, 0.9);
  --color4: #faf6ff;
  --color5: red;
  font-size: 1.05em;
}
@media (pointer: none), (pointer: coarse) {
  @media (orientation: portrait) {
    :root {
      font-size: 3.8vmin;
    }
  }
  @media (orientation: landscape) {
    :root {
      font-size: 2vw;
    }
  }
}
